<!--유저 페이지-->
<!--denied.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Metro 4 -->
    <link th:href="@{/static/metro/css/metro-all.css}" href="/static/metro/css/metro-all.css?ver=@@b-version" rel="stylesheet">
    
  	<title>로그아웃</title>
</head>
<body>
	<script th:attr="src=@{/static/metro/js/metro.js}" src="/static/metro/js/metro.js?ver=@@b-version"></script>
	<script th:attr="src=@{/static/js/common.js}" src="/static/js/common.js"></script>
    <script th:attr="src=@{/static/js/common-utils.js}" src="/static/js/common-utils.js"></script>
	
    <script th:inline="javascript">
        gfn_alert({
			title: "로그아웃 되었습니다.",
			okCallback: function() {
				location.replace("/auth/login");
			}
		});
    </script>
</body>
</html>