<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basemaster}">
      
<th:block layout:fragment="filter">
	<th:block th:replace="/layouts/fragments/filters :: inputFragment('Menu Name','f_menuname')"></th:block>
	<li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> Use Y/N</li>
    <li class="pl-3 bg-basecolor">
        <input name="f_useyny" type="checkbox" data-role="checkbox" data-caption="Y&nbsp;&nbsp;" checked>
        <input name="f_useynn" type="checkbox" data-role="checkbox" data-caption="N" checked>
    </li>
</th:block>

<th:block layout:fragment="hidden">
</th:block>

<th:block layout:fragment="content">
	<div id="realgrid1" class="w-100 onegrid"></div>
	<!-- 버튼 -->
    <th:block th:replace="/layouts/fragments/rolebutton :: rolebuttonFragment"></th:block>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
        let grid, provider;
        let comCode;
        $(async function() {
			gfn_formInit(); //폼 공통로직 처리
            await fn_filterInit(); //필터초기화 //내부 조회로직처리
            fn_gridInit(); //그리드초기화
            fn_eventInit(); //이벤트초기화
        });

        //필터초기화
        async function fn_filterInit() {
            //공통코드조회
			comCode = await gfn_getCommonCode({groupCd: ['TREE']});
        }

        //그리드초기화
        function fn_gridInit() {
	
			console.log("fn_gridInit");
            
            const fields = [
            	{fieldName: "treeId", type: "data"}
            ];
            const columns = [
                {name: "menuNm",      type: "data", width: "200", header: {text: "Menu Name"       }, styleName: "tal-column" }
              , {name: "menuCd",      type: "data", width: "100", header: {text: "Menu Code"       }, styleName: "tal-column" }
              , {name: "parentMenuCd",type: "data", width: "100", header: {text: "Parent Menu Code"}, styleName: "tal-column" }
			  , {name: "url",         type: "data", width: "100", header: {text: "URL"             }, styleName: "tal-column" }
			  , {name: "useYn",       type: "data", width: "100", header: {text: "Use Y/N"         }, styleName: "tac-column" }
			  , {name: "lvl",         type: "data", width: "100", header: {text: "Level"           }, styleName: "tac-column" , editable: false }
			  , {name: "sort",        type: "data", width: "100", header: {text: "Sort"            }, styleName: "tal-column" }
			  , {name: "tree",        type: "data", width: "100", header: {text: "Tree"            }, styleName: "tal-column" }
            ];
            
            //컬럼 추가옵션 처리
            fn_addColumnConfig(columns);
            
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: true }
			};
			
            const gridInstance = new GRID().treeInit({gridId: "realgrid1", columns: columns, fields: fields, options: options});
            grid = gridInstance.gridview;
            provider = gridInstance.provider;
        }
        
        function fn_addColumnConfig(columns) {
			const treeList = comCode.filter(v => v.groupCd === "TREE");
			columns.forEach(v => {
				if (v.name === "tree") {
					v.values = treeList.map(v => v.codeCd);
					v.labels = treeList.map(v => v.codeNm);
					v.lookupDisplay = true;
					v.editor = {
						type: "checklist", 
						displayLabels: 'label',
						textReadOnly: true
				  	};
				};
			})
		}
        
        //이벤트초기화
        function fn_eventInit() {
            $("#apply").on("click", () => fn_apply());

            $("#reset").on("click", function() {
                grid.cancel();
		        if (provider.getSavePoints().length > 0) provider.rollback(provider.getSavePoints()[0]);
		    	else provider.clearRows();
		    	
		    	grid.expandAll();
            });

            $("#add").on("click", function() {
                let row = grid.getCurrent().dataRow;
				let addVal = { 
					parentMenuCd: provider.getValue(row, "menuCd"),
					useYn: "Y", 
				};
				provider.addChildRow(row, addVal, -1, false);
            });

            $("#delete").on("click", function() {
                let rows = grid.getCheckedRows();
				//dataProvider.removeRows(rows, false);
				for (let i=rows.length-1; i>=0; i--) {
					provider.removeRow(rows[i]);
				}
            });

            $("#save").on("click", () => fn_save());
        }
        
        //조회
        async function fn_apply(sql = false) {
            let filterObj = gfn_setComParams(); //service parameter set
            
            //유효성 검증
            if (!fn_validation()) return false;
			
			//server api 요청
			const pConfigs = {
				url: 'admin/menulist',
				reqSql: sql,
			    body: JSON.stringify(filterObj),
			}; 
			const res = await gfn_service(pConfigs);
			
			if (sql) return;
			
			//데이터 초기화 및 그리드 데이터 생성
            provider.clearRows();
            grid.cancel();
            provider.setRows(res.data, "treeId", false, null, "iconField");
            grid.expandAll();
            
            provider.clearSavePoints();
			provider.savePoint(); //초기화 포인트 저장
        }
        
        async function fn_save() {
			var uGrdData = gfn_getGrdSavedata(grid);
			if (uGrdData.length == 0) {
				gfn_alert({title: "Info", content: "저장 할 데이터가 없습니다."});
				return;
	    	}
	
			if(!await gfn_confirmSync({title: "Info", content: "저장하시겠습니까?"})) return;
			
			//server api 요청
			const pConfigs = {
				url: 'admin/menureg',
			    body: JSON.stringify({grdData: uGrdData}),
			}; 
			const res = await gfn_service(pConfigs);
			
			//데이터 초기화 및 그리드 데이터 생성
			await gfn_alertSync({title: "Success", content: "Save success"});
            fn_apply();
		}
        
        function fn_validation() {
            return true;
        }
    </script>
</th:block>
</html>