<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basemaster}">

<th:block layout:fragment="filter">
	<th:block th:replace="/layouts/fragments/filters :: inputFragment('Role','f_role')"></th:block>
</th:block>

<th:block layout:fragment="hidden">
</th:block>

<th:block layout:fragment="content">
	<div data-role="splitter" data-split-sizes="60, 40" data-min-sizes="100, 100" class="onegrid" >
    	<div id="realgrid1" class="d-flex flex-justify-center flex-align-center w-100 h-100"></div>
		<div id="realgrid2" class="d-flex flex-justify-center flex-align-center w-100 h-100"></div>
	</div>
	<!-- 버튼 -->
    <th:block th:replace="/layouts/fragments/rolebutton :: rolebuttonFragment"></th:block>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
        var Utils = Metro.utils;
        let grid, provider;
        let grid2, provider2;
        $(function() {
            fn_filterInit(); //필터초기화
            fn_gridInit(); //그리드초기화
            fn_eventInit(); //이벤트초기화
        });

        //필터초기화
        function fn_filterInit() {
        }

        //그리드초기화
        function fn_gridInit() {
            //dataType이 text가 아닌경우 tag속성에 지정
            const fields = [];
            const columns = [
                {name: "roleCd",      type: "data", width: "100", header: {text: "Role"            }, styleName: "tal-column" }
              , {name: "roleNm",      type: "data", width: "150", header: {text: "Role Name"       }, styleName: "tal-column" }
            ];
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: true }
			};
			
            const gridInstance = new GRID().init({gridId: "realgrid1", columns: columns, fields: fields, options: options});
            grid = gridInstance.gridview;
            provider = gridInstance.provider;
            
            //grid2
            const fields2 = [ 
            	{fieldName: "treeId", type: "data"}
              , {fieldName: "menuCd", type: "data"}
            ];
            const columns2 = [
                {name: "menuNm",      type: "data", width: "300", header: {text: "Menu Name"       }, styleName: "tal-column" , editable: false}
            ];
            const options2 = {
				checkBar: { visible: true }
			  , stateBar: { visible: true }
			};
			
            const gridInstance2 = new GRID().treeInit({gridId: "realgrid2", columns: columns2, fields: fields2, options: options2});
            grid2 = gridInstance2.gridview;
            provider2 = gridInstance2.provider;
            
            //그리드 이벤트
            //role 행변경되면 권한에 맞는 menu 조회
			grid.onCurrentRowChanged = async function(grid, oldRow, newRow) {
				grid2.checkAll(false); //전체체크해제
	            let filterObj = {clickRoleCd : grid.getValue(newRow, "roleCd")};
				//server api 요청
				const pConfigs = {
					url: '/admin/rolemenulist',
					reqSql : false,
				    body: JSON.stringify(filterObj),
				}; 
				const res = await gfn_service(pConfigs);
				
				let arrIdx = [];
				res.data.forEach(v => {
					arrIdx.push(grid2.getJsonRows().findIndex((element) => element.menuCd === v.menuCd) + 1);
				})
				grid2.checkRows(arrIdx, true);
			};
        }
        
        //이벤트초기화
        function fn_eventInit() {
            $("#apply").on("click", function() {
                fn_apply();
            });

            $("#reset").on("click", function() {
                grid.cancel();
		        if (provider.getSavePoints().length > 0) provider.rollback(provider.getSavePoints()[0]);
		    	else provider.clearRows();
            });

            $("#add").on("click", function() {
                let row = grid.getCurrent().dataRow;
                row = row == -1 ? 0 : row;
				const addVal = { useYn: "Y" };
				provider.insertRow(row, addVal);
            });

            $("#delete").on("click", function() {
                var rows = grid.getCheckedRows();
				for (var i=rows.length-1; i>=0; i--) {
					provider.removeRow(rows[i]);
				}
            });

            $("#save").on("click", function() {
				fn_save();
            });
        }
        
        //공통함수에서 호출되는 영역
        function fn_comExportExcel() {
			gfn_exportExcel(grid);
		}
        
        //조회
        async function fn_apply(sql = false) {
            //필터폼 데이터 생성
            let filterObj = gfn_getFormObj($('.filterForm'));
            filterObj = {...filterObj, ...gfn_getChkTree()}; //체크트리 파라미터 셋
            
            //유효성 검증
            if (!fn_validation()) return false;
			
			//server api 요청
			const pConfigs = {
				url: '/admin/rolelist',
				reqSql : sql,
			    body: JSON.stringify(filterObj),
			}; 
			const res = await gfn_service(pConfigs);
			
			if (sql) return;
			
			//데이터 초기화 및 그리드 데이터 생성
            provider.clearRows();
            grid.cancel();
            provider.setRows(res.data.roleList);
            
            provider.clearSavePoints();
			provider.savePoint(); //초기화 포인트 저장
			
			//데이터 초기화 및 그리드 데이터 생성
            provider2.clearRows();
            grid2.cancel();
            provider2.setRows(res.data.menuList, "treeId", false, null, "iconField");
            grid2.expandAll();
            
            provider2.clearSavePoints();
			provider2.savePoint(); //초기화 포인트 저장
			
			//role 리스트 첫행 포커스
			grid.setCurrent({itemindex:1});
        }
        
        async function fn_save() {
			var uGrdData = gfn_getGrdSavedata(grid);
			var roleMenuList = grid2.getJsonRows().filter((el, index) => grid2.getCheckedItems().find(v => v === index) > -1);
			
			var roleCd = grid.getValue(grid.getCurrent().itemIndex, "roleCd");
			/*
			const uRoleMenuList = roleMenuList.map(function(v) {
			    return {...v, ...{roleCd: roleCd}};
			})
			*/
			
			/*
			if (uGrdData.length == 0) {
				gfn_alert({title: "Info", content: "저장 할 데이터가 없습니다."});
				return;
	    	}
	    	*/
	
			if(!await gfn_confirmSync({title: "Info", content: "저장하시겠습니까?"})) return;
			
			//server api 요청
			const pConfigs = {
				url: '/admin/rolereg',
			    body: JSON.stringify({grdData: uGrdData, uRoleMenuList: roleMenuList, roleCd: roleCd}),
			}; 
			const res = await gfn_service(pConfigs);
			
			//데이터 초기화 및 그리드 데이터 생성
			await gfn_alertSync({title: "Success", content: "Save success"});
            fn_apply();
		}

        function fn_validation() {
            return true;
        }

        function fn_clickPopup() {
            console.log("fn_clickPopup!!!!");
        }
    </script>
</th:block>
</html>