<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드-->
<th:block th:replace="/layouts/fragments/head :: headFragment"></th:block>

	<body class="m4-cloak h-vh-100" >
		<script th:inline="javascript">
	    	const GV_CONTEXT_PATH = [[@{/}]];
	    </script>
    
	    <main id="framebody" class="h-100">
	        <!-- Content -->
	        <section class="d-flex h-100" style="overflow: auto;">
	            <div class="w-100">
	                <div class="mt-0"></div>
	                <!-- grid -->
	                <th:block layout:fragment="content"></th:block>
	            </div>
	        </section>
	        <!-- /Content -->
	    </main>
	    
	    <!-- hidden -->
	    <th:block layout:fragment="hidden"></th:block>
	    
	    <!-- script -->
	   	<th:block th:replace="/layouts/fragments/script :: scriptFragment"></th:block>
	    
	    <!-- content script -->
	    <th:block layout:fragment="contentjs"></th:block>
	</body>
</html>