<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link th:href="@{/static/metro/css/metro-all.css}" href="/static/metro/css/metro-all.css" rel="stylesheet">

    <title>Korea</title>
    <style>
        #content-wrapper{
            /*background-color: aqua;*/
            height: calc(100% - 80px);
        }
        iframe {
            height: 100%;
        }
        .frame_container{
            height: calc(100% - 52px);
        }
        .prepend {
            background: red!important;
        }
        
        .avatar {
		    width: 32px;
		    height: 32px;
		    border-radius: 50%;
		    overflow: hidden;
		}
		
		.user-block {
		    display: block;
		    position: absolute;
		    top: 100%;
		    right: 0;
		    width: 280px;
		    line-height: 1.2;
		}
		
		.user-block .avatar {
		    width: 128px;
		    height: 120px;
		    overflow: hidden;
		    border-radius: 50%;
		    border: 2px solid white;
		}
    </style>
</head>
<body class="m4-cloak">
	<script th:inline="javascript">
    	const GV_CONTEXT_PATH = [[@{/}]];
    </script>
<div class="h-vh-100">
	<!-- top -->
    <div data-role="appbar" class="pos-absolute bg-black fg-white">
        <div class="d-flex flex-align-center">
            <h2 class="text-light m-0 fg-white pl-3" style="line-height: 52px">Korea</h2>
        </div>

        <div class="app-bar-container ml-auto">
            <a href="#" class="app-bar-item">
                <span class="mif-envelop"></span>
                <span class="badge bg-green fg-white mt-2 mr-1">4</span>
            </a>
            <a href="#" class="app-bar-item">
                <span class="mif-bell"></span>
                <span class="badge bg-orange fg-white mt-2 mr-1">10</span>
            </a>
            <a href="#" class="app-bar-item">
                <span class="mif-flag"></span>
                <span class="badge bg-red fg-white mt-2 mr-1">9</span>
            </a>
            <a href="#" class="app-bar-item" id="collapse_avata">
                <img th:attr="src=@{/static/images/jek_vorobey.jpg}" src="/static/images/jek_vorobey.jpg" class="avatar">
                <span class="ml-2 app-bar-name" sec:authentication="principal.userNm">Jack Sparrow</span>
            </a>
            <div class="user-block shadow-1" data-role="collapse" data-collapsed="true" data-toggle-element="#collapse_avata">
	            <div class="bg-darkCyan fg-white p-2 text-center">
	                <img th:attr="src=@{/static/images/jek_vorobey.jpg}" src="/static/images/jek_vorobey.jpg" class="avatar">
	                <div class="h4 mb-0" sec:authentication="principal.userNm">Jack Sparrow</div>
	                <div>Pirate captain</div>
	            </div>
	            <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
	                <button class="button flat-button">Followers</button>
	                <button class="button flat-button">Sales</button>
	                <button class="button flat-button">Friends</button>
	            </div>
	            <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
	                <button class="button mr-1">Profile</button>
	                <button class="button ml-1"><a th:href="@{/auth/logoutProc}" href="#">Sign out</a></button>
	            </div>
	        </div>
            <a href="#" class="app-bar-item">
                <span class="mif-cogs"></span>
            </a>
        </div>
    </div>
    <div class="frame_container" style="top:52px">
    	<!-- 메뉴 -->
        <div class="menu">
        	<ul class="h-menu bg-darkGrayBlue fg-white mega">
        		<th:block th:each="item1 : ${menuList}">
        		<li th:if="${item1.lvl == 1}">
			        <a href="#" class="dropdown-toggle" th:text="${item1.menuNm}" onclick="fn_click1menu()">Products</a>
			        <div class="mega-container p-2" data-role="dropdown">
			            <div class="row">
			            	<th:block th:each="item2 : ${menuList}">
			            	<div class="cell-md-2" th:if="${item2.lvl == 2 && item1.menuCd == item2.parentMenuCd}">
			                    <p class="h5"><small th:text="${item2.menuNm}">Metro 4</small></p>
			                    <ul class="unstyled-list pl-0">
			                    	<th:block th:each="item3 : ${menuList}">
                    		 			<li th:if="${item3.lvl == 3 && item2.menuCd == item3.parentMenuCd}">
				                    		<th:block th:if="${item3.urlYn == 'Y'}">
                    		 				<a href="#" th:menuCd="${item3.menuCd}" th:menuNm="${item3.menuNm}" th:onclick="fn_clickMenu(this.getAttribute('menuCd'),this.getAttribute('menuNm'))"><small th:text="${item3.menuNm}">Getting started</small></a>
				                    		</th:block>
				                    		<th:block th:if="${item3.urlYn != 'Y'}">
                    		 				<a href="#"><small th:text="${item3.menuNm}">Getting started</small></a>
				                    		</th:block>
                    		 			</li>
			                    	</th:block>
			                    </ul>
			                </div>
			            	</th:block>
			            </div>
			        </div>
			    </li>
        		</th:block>
        	</ul>
        </div>

        <!-- tabs data-tabs-type : text, group, pills.-->
        <ul id="tabs" data-role="tabs" data-tabs-type="" data-expand="true" data-cls-tabs-list-item-active="bg-gray fg-white text-light"></ul>
        <div id="content-wrapper">
        	<div id="dashboard" style="display:block;" class="h-100">
        		<div class="row h-50">
        			<div class="cell-6 h-100">
        				<canvas id="myChart1" class="h-100 w-100 p-4"></canvas>
        			</div>
        			<div class="cell-6 h-100">
        				<canvas id="myChart2" class="h-100 w-100 p-4"></canvas>
        			</div>
        		</div>
        		<div class="row h-50">
        			<div class="cell-6 h-100">
        				<canvas id="myChart3" class="h-100 w-100 p-4"></canvas>
        			</div>
        			<div class="cell-6 h-100">
        				<canvas id="myChart4" class="h-100 w-100 p-4"></canvas>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>

<script th:attr="src=@{/static/js/common-utils.js}" src="/static/js/common-utils.js"></script>
<script th:attr="src=@{/static/metro/js/metro.js}" src="/static/metro/js/metro.js"></script>
<script th:attr="src=@{/static/chartjs/chartjs-utils.js}" src="/static/chartjs/chartjs-utils.js"></script>
<script>
	$(function() {
		fn_chartDraw($('#myChart1'), 'Dashboard Chart1', 'line');
		fn_chartDraw($('#myChart2'), 'Dashboard Chart2');
		fn_chartDraw($('#myChart3'), 'Dashboard Chart3');
		fn_chartDraw($('#myChart4'), 'Dashboard Chart4', 'line');
	});
	
	function fn_click1menu() {
		$("._menuDropdown").remove();
		$("<div class='w-100 h-100 _menuDropdown' style='position:absolute;top:0px;' onclick=this.remove()>").appendTo($("#content-wrapper"));
	}
	
	function fn_chartDraw(ctx, title, type = 'bar') {
		const tmpRanNum = function() {
			return Math.floor(Math.random() * 5001);	
		}
		
		new CHARTJS().init(ctx, {
		    type: type,
		    data: {
		      	labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
		      	datasets: [
			        {
			          label: "Population (millions)",
			          backgroundColor: CHART_COLORS.slice(0,5),
			          data: [tmpRanNum(),tmpRanNum(),tmpRanNum(),tmpRanNum(),tmpRanNum()],
			          fill: false, //line, area에 적용
			        }
			    ]
		    },
		    options: {
			    title: {
			        display: true,
			        text: title,
			        fontSize: 20,
			    },
		    }
		});
	}
	
    function fn_clickMenu(menucd, menunm) {
        var menu = $(`div[name=${menucd}]`);
        var menuKey = 0;
        if (menu.length == 0) menuKey = menu.length;
        else menuKey = Number(menu.last().attr("id").replace(`_${menucd}_`,""));

        menuKey++;
        var uniqMenuCd = menucd+'_'+menuKey;
        //console.log(`${menucd} : ${menuKey}`);
        $('#tabs').append(`<li class="" style="border-right: 1px solid #dfdfdf;"><a href="#_${uniqMenuCd}" class="py-1 px-5"><span class="ml-0">${menunm}</span></a><span class="badge inside c-pointer" onclick="javascript:fn_removeMenu(this,'${uniqMenuCd}')">x</span></li>`);

        var frameHtml = `<div name="${menucd}" id="_${uniqMenuCd}" class="h-100">`;
        frameHtml += `<iframe name="_${uniqMenuCd}" id="_${uniqMenuCd}_frame" title="Inline Frame Example" width="100%"></iframe>`; //src="../html/inner1.html"
        frameHtml += `</div>`;
        $('#content-wrapper').append(frameHtml);

        $(`#_${uniqMenuCd}_frame`).attr('src', `/page/${menucd}`);

        var tabs = Metro.getPlugin($("#tabs"), "tabs");
        var li = $("#tabs").find('li');
        tabs.open(li[li.length-1]);
        
        $("#dashboard").hide(); // dashboard 내용 숨김
    }

    function fn_removeMenu(obj,uniqMenuCd) {
        //tab 이동 후 삭제
        var tabs = Metro.getPlugin($("#tabs"), "tabs");

        //활성화된 탭을 닫으면 삭제전에 이동
        var li = $(obj).parent();
        if (li.hasClass('active')) {
            if (li.next().length > 0) tabs.next();
            else tabs.prev();
        }

        $('#_'+uniqMenuCd).remove(); //iframe 상위 div 삭제
        li.remove(); //tab 삭제
        
        if ($("#tabs li").length === 0) $("#dashboard").show(); // dashboard 내용 보임
    }

</script>

</body>
</html>
