<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
				    <th:block th:fragment="inputFragment(title, name)">
					    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>Group</span></li>
					    <li class="pl-3 bg-basecolor">
					        <input name="f_input" th:attr="name=${name}" type="text" data-role="input" class="input-small">
					    </li>
				    </th:block>
	    
				    <th:block th:fragment="pinputFragment(title, name)">
					    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>popup text</span></li>
					    <li class="pl-3 bg-basecolor">
					        <input name="f_pinput" th:attr="name=${name}, data-on-search-button-click='gfn_localPopup(\''+${name}+'\')'" type="text" data-role="input" data-search-button="true" class="input-small" data-search-button-click="custom" data-on-search-button-click="Metro.dialog.open('#demoDialog1')">
					        <input type="hidden" name="f_pinputcd" th:attr="name=${name}+'cd'">
					    </li>
				    </th:block>
	    
				    <th:block th:fragment="selectFragment(title, name)">
					    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>select</span></li>
					    <li class="pl-3 bg-basecolor">
					        <select name="select1" th:attr="id=${name}, name=${name}" data-role="select" class="input-small" 
					        	data-cls-parent-option="pl-2">
					            <option value=""></option>
					        </select>
					    </li>
				    </th:block>
	    
				    <th:block th:fragment="mselectFragment(title, name)">
					    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>Multiple</span></li>
				        <li class="pl-3 bg-basecolor">
				            <select id="mselect" name="mselect1" th:attr="id=${name}, name=${name}" data-role="select" class="input-small" data-clear-button="false" 
				                data-cls-drop-list="no-wrap" 
				                data-cls-parent-option="px-0" 
				                multiple>
				            </select>
				        </li>
				    </th:block>
	    
				    <th:block th:fragment="singlecalFragment(title, name)">
					    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>Calendar picker1</span></li>
					    <li class="pl-3 bg-basecolor">
				            <input name="calendar1" th:attr="name=${name}" type="text" data-role="calendarpicker" class="input-small" 
				            data-dialog-mode="false" data-show-week-number="true" data-cls-calendar="compact" 
				            data-on-calendar-show="gfn_onCalendarShow" data-on-calendar-hide="gfn_onCalendarHide">
				        </li>
				    </th:block>
	    
				    <th:block th:fragment="doublecalFragment(title, name1, name2)">
				        <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> <span th:text=${title}>Calendar picker From To</span></li>
				        <li class="pl-3 bg-basecolor">
				            <div class="row no-gap">
				                <input name="calendar2" th:attr="name=${name1}, id=${name1}" type="text" data-role="calendarpicker" class="input-small" data-size="calc(50% - 11.4px)"
				                data-dialog-mode="false" data-show-week-number="true" data-cls-calendar="compact"
				            	data-on-calendar-show="gfn_onCalendarShow" data-on-calendar-hide="gfn_onCalendarHide">
				                &nbsp;~&nbsp;
				                <input name="calendar3" th:attr="name=${name2}, id=${name2}" type="text" data-role="calendarpicker" class="input-small" data-size="calc(50% - 11.4px)"
				                data-dialog-mode="false" data-show-week-number="true" data-cls-calendar="compact"
				            	data-on-calendar-show="gfn_onCalendarShow" data-on-calendar-hide="gfn_onCalendarHide">
				            </div>
				        </li>
				    </th:block>
    
</html>