<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
	    <header id="frametitle" class="frametitle va-middle bg-transparent pl-2 pt-1">
	        <div class="place-left">
	            <a href="#"><span class="mif-indent-decrease" onclick="$('#_divFilter').toggle(); $(this).toggleClass('mif-indent-decrease mif-indent-increase');"></span></a>
	            Page Info : <span th:text=${menuNm}>Code Management</span>
	        </div>
	        <div class="place-right mr-4">
	            <a href="#" class="px-1"><span class="mif-stack"></span></a>
	            <a href="#" class="px-1"><span class="mif-list"></span></a>
	            <a href="#" class="px-1"><span class="mif-file-excel"></span></a>
	        </div>
	    </header>
    </th:block>
</html>