<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    
	    <link th:href="@{/static/metro/css/metro-all.css}" href="/static/metro/css/metro-all.css?ver=@@b-version" rel="stylesheet">
	    <link th:href="@{/static/realgrid/2.5.3/realgrid-style.css}" href="/static/realgrid/2.5.3/realgrid-style.css" rel="stylesheet" />
	    <link th:href="@{/static/realgrid/realgrid-utils.css}" href="/static/realgrid/realgrid-utils.css" rel="stylesheet" />
	    <link th:href="@{/static/css/common.css}" href="/static/css/common.css" rel="stylesheet" />

    </head>
</th:block>
</html>