<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">

    <!-- metro4 -->
	<script src="/static/metro/js/metro.js?ver=@@b-version"></script>
	
    <!-- RealGrid -->
    <script src="/static/realgrid/2.5.3/realgrid-lic.js"></script>
    <script src="/static/realgrid/2.5.3/realgrid.2.5.3.min.js"></script>
    <script src="/static/realgrid/realgrid-utils.js"></script>
    <script src="/static/realgrid/libs/jszip.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/data.js"></script>
    
</th:block>
</html>