<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basebiz}">

<th:block layout:fragment="filter">
	<th:block th:replace="/layouts/fragments/filters :: inputFragment('Group','f_group')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: pinputFragment('Popup Input','f_pinput')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: doublecalFragment('From~To','f_fromcal','f_tocal')"></th:block>
</th:block>

<th:block layout:fragment="hidden">
	<th:block th:replace="/layouts/fragments/compopups :: comPopup1Fragment('f_pinput')"></th:block>
</th:block>

<th:block layout:fragment="content">
	<div id="realgrid1" class="w-100 h-100"></div>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
        var Utils = Metro.utils;
        let gridInstance, grid, provider;
        let gridPopupInstance, gridPopup, providerPopup;
        let com_viewinfo = {
			dimension: true,
        	arrAllDim: ["dim01","dim02","dim03"], //화면에서 사용될 전체 디멘전
        	arrDim: ["dim01","dim02"], //그리드에 그려질 실제 디멘전 - 기본디멘전 정의 후 디멘전 선택 팝업에서 선택한 디멘전을 갖고있는다.
}		;
        $(function() {
			gfn_formInit(); //폼 공통로직 처리
            fn_filterInit(); //필터초기화
            fn_gridInit(); //그리드초기화
            fn_eventInit(); //이벤트초기화
        });

        //필터초기화
        function fn_filterInit() {
			//calendar set
			$("#f_fromcal").data("calendarpicker").val("2022-08-15");
			$("#f_tocal").data("calendarpicker").val("2022-12-31");
        }

        //그리드초기화
        function fn_gridInit() {
            //dataType이 text가 아닌경우 tag속성에 지정
            const fields = [];
            const columns = [
                {name: "groupCd",     type: "data", width: "100", header: {text: "Group Code"      }, styleName: "tal-column" }
              , {name: "groupNm",     type: "data", width: "200", header: {text: "Group Name"      }, styleName: "tal-column" }
              , {name: "codeCd",      type: "data", width: "100", header: {text: "Code"            }, styleName: "tal-column" }
              , {name: "codeNm",      type: "data", width: "200", header: {text: "Code Name"       }, styleName: "tal-column" }
			  , {name: "useYn",       type: "data", width: "100", header: {text: "Use Y/N"         }, styleName: "tac-column" }
			  , {name: "sort",        type: "data", width: "100", header: {text: "Sort"            }, styleName: "tal-column" }
            ];
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: true }
			};
			
            gridInstance = new GRID().init({gridId: "realgrid1", draw: false, columns: columns, fields: fields, options: options});
            grid = gridInstance.gridview;
            provider = gridInstance.provider;

            gridPopupInstance = new GRID().init({gridId: "realgridPopup", columns: columns, fields: fields, options: options});
            gridPopup = gridPopupInstance.gridview;
            providerPopup = gridPopupInstance.provider;
        }
        
        //이벤트초기화
        function fn_eventInit() {
            $("#apply").on("click", function() {
                fn_apply();
            });
        }
        
        //조회
        async function fn_apply(sql = false) {
            //필터폼 데이터 생성
            let filterObj = gfn_getFormObj($('.filterForm'));
            filterObj = {...filterObj, ...gfn_getChkTree()}; //체크트리 파라미터 셋
            
            //dimension parameter set 
            filterObj.dimensions = com_viewinfo.arrDim;
            
            //유효성 검증
            if (!fn_validation()) return false;

			//그리드정보에 디멘전정보를 설정
			gridInstance.setDimension(com_viewinfo.arrDim);
            
			//server api 요청
			const pConfigs = {
				url: '/sample/samplemain',
				reqSql: sql,
			    body: JSON.stringify(filterObj),
			};
			
			const res = await gfn_service(pConfigs);
			
			if (sql) return;
			
			//디멘전, 고정컬럼, bucket을 이용해서 그리드 컬럼정보를 만든다.
			gfn_drawGridBucket(gridInstance, res.data.bucketList, {bucketType: "YEAR_MONTH_WEEK", bTotal1: true, bTotal2: true, bTotal3: true});
			
			//데이터 초기화 및 그리드 데이터 생성
            provider.clearRows();
            grid.cancel();
            provider.setRows(res.data.sampleList);
            
            provider.clearSavePoints();
			provider.savePoint(); //초기화 포인트 저장
        }
        
        function fn_validation() {
            return true;
        }

        function fn_comPopup1() {
            console.log("fn_comPopup1!!!!");
        }
    </script>
</th:block>
</html>