<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basebiz}">

<th:block layout:fragment="filter">
	<th:block th:replace="/layouts/fragments/filters :: inputFragment('Group','f_group')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: inputFragment('Code','f_code')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: pinputFragment('Popup Input','f_pinput')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: selectFragment('Select','f_select')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: mselectFragment('Multiple','f_mselect')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: singlecalFragment('Calendar','f_cal')"></th:block>
	<th:block th:replace="/layouts/fragments/filters :: doublecalFragment('From~To','f_fromcal','f_tocal')"></th:block>
	<li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> Check Box</li>
    <li class="pl-3 bg-basecolor">
        <input name="f_check1" type="checkbox" data-role="checkbox" data-caption="Check1">
        <input name="f_check2" type="checkbox" data-role="checkbox" data-caption="Check2" checked>
        <input name="f_check3" type="checkbox" data-role="checkbox" data-caption="Check3" data-indeterminate="true">
        <input name="f_check4" ype="checkbox" data-role="checkbox" data-caption="Check4" disabled>
        <input name="f_check5" type="checkbox" data-role="checkbox" data-caption="Check5" disabled checked>
    </li>
    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> Radio1</li>
    <li class="pl-3 bg-basecolor">
        <input type="radio" data-role="radio" data-caption="Check1" value="r1_a" name="f_radio1">
        <input type="radio" data-role="radio" data-caption="Check2" value="r1_b" name="f_radio1" checked>
    </li>
    <li class="menu-title pl-1"><span class="mif-chevron-right icon"></span> Radio2</li>
    <li class="pl-3 bg-basecolor">
        <input type="radio" data-role="radio" data-caption="Check3" value="r2_a" name="f_radio2" disabled>
        <input type="radio" data-role="radio" data-caption="Check4" value="r2_b" name="f_radio2" checked disabled>
    </li>
</th:block>

<th:block layout:fragment="hidden">
	<div class="dialog" data-role="dialog" id="demoDialog1">
        <div class="dialog-title py-1">Popup Dialog</div>
        <div class="dialog-content py-1 px-3 mt-0">
            <div style="height: 30px;">
                <button class="button float-right mb-1 small">Search</button>
            </div>
            <div id="realgridPopup" class="w-100" style="height: 250px;"></div>
        </div>
        <div class="dialog-actions text-right mt-0 px-2">
            <button class="button js-dialog-close small">Cancel</button>
            <button class="button primary js-dialog-close small" onclick="fn_clickPopup();">Ok</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
	<div id="realgrid1" class="w-100 h-100"></div>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
        var Utils = Metro.utils;
        let grid, provider;
        let gridPopup, providerPopup;
        $(function() {
            fn_filterInit(); //필터초기화
            fn_gridInit(); //그리드초기화
            fn_eventInit(); //이벤트초기화
        });

        //필터초기화
        function fn_filterInit() {
			$("#mselect").append("<option value=\"6\" data-template=\"<input type='checkbox' data-role='checkbox' data-style='2'> $1\">GitHub222</option>");
            var mselect = Metro.getPlugin($("#mselect"), "select");
            mselect.reset();
            mselect.val(["1","3","6"]);
        }

        //그리드초기화
        function fn_gridInit() {
            //dataType이 text가 아닌경우 tag속성에 지정
            const fields = [];
            const columns = [
                {name: "groupCd",     type: "data", width: "100", header: {text: "Group Code"      }, styleName: "tal-column" }
              , {name: "groupNm",     type: "data", width: "200", header: {text: "Group Name"      }, styleName: "tal-column" }
              , {name: "codeCd",      type: "data", width: "100", header: {text: "Code"            }, styleName: "tal-column" }
              , {name: "codeNm",      type: "data", width: "200", header: {text: "Code Name"       }, styleName: "tal-column" }
			  , {name: "useYn",       type: "data", width: "100", header: {text: "Use Y/N"         }, styleName: "tac-column" }
			  , {name: "sort",        type: "data", width: "100", header: {text: "Sort"            }, styleName: "tal-column" }
            ];
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: true }
			};
			
            const gridInstance = new GRID().init({gridId: "realgrid1", columns: columns, fields: fields, options: options});
            grid = gridInstance.gridview;
            provider = gridInstance.provider;

            const gridPopupInstance = new GRID().init({gridId: "realgridPopup", columns: columns, fields: fields, options: options});
            gridPopup = gridPopupInstance.gridview;
            providerPopup = gridPopupInstance.provider;
        }
        
        //이벤트초기화
        function fn_eventInit() {
            $("#apply").on("click", function() {
                fn_apply();
            });

            //엑셀다운로드
            $("header .mif-file-excel").on("click", function() {
				gfn_exportExcel(grid);
			});
        }
        
        //조회
        async function fn_apply() {
            //필터폼 데이터 생성
            let filterObj = gfn_getFormObj($('.filterForm'));
            filterObj = {...filterObj, ...gfn_getChkTree()}; //체크트리 파라미터 셋
            
            //유효성 검증
            if (!fn_validation()) return false;
            
            return;
			
			//server api 요청
			const pConfigs = {
				url: '/admin/codelist',
			    body: JSON.stringify(filterObj),
			    successCallback: function(data) {
					try {
						//데이터 초기화 및 그리드 데이터 생성
			            provider.clearRows();
			            grid.cancel();
			            provider.setRows(data);
			            
			            provider.clearSavePoints();
						provider.savePoint(); //초기화 포인트 저장
					} catch(e) {
						console.log(e);
					}
			    }
			}; 
			gfn_service(pConfigs);
        }
        
        function fn_validation() {
            return true;
        }

        function fn_clickPopup() {
            console.log("fn_clickPopup!!!!");
        }
    </script>
</th:block>
</html>