<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/static/metro/css/metro-all.css?ver=@@b-version" rel="stylesheet">

    <title>Korea</title>
    <style>
        #content-wrapper{
            /*background-color: aqua;*/
            height: calc(100% - 80px);
        }
        iframe {
            height: 100%;
        }
        .frame_container{
            height: calc(100% - 52px);
        }
        .prepend {
            background: red!important;
        }
        
        .avatar {
		    width: 32px;
		    height: 32px;
		    border-radius: 50%;
		    overflow: hidden;
		}
    </style>
</head>
<body class="m4-cloak">
<div class="h-vh-100">
	<!-- top -->
    <div data-role="appbar" class="pos-absolute bg-black fg-white">
        <div class="d-flex flex-align-center">
            <h2 class="text-light m-0 fg-white pl-3" style="line-height: 52px">Korea</h2>
        </div>

        <div class="app-bar-container ml-auto">
            <a href="#" class="app-bar-item">
                <span class="mif-envelop"></span>
                <span class="badge bg-green fg-white mt-2 mr-1">4</span>
            </a>
            <a href="#" class="app-bar-item">
                <span class="mif-bell"></span>
                <span class="badge bg-orange fg-white mt-2 mr-1">10</span>
            </a>
            <a href="#" class="app-bar-item">
                <span class="mif-flag"></span>
                <span class="badge bg-red fg-white mt-2 mr-1">9</span>
            </a>
            <a href="#" class="app-bar-item">
                <img src="/static/images/jek_vorobey.jpg" class="avatar">
                <span class="ml-2 app-bar-name">Jack Sparrow</span>
            </a>
            <a href="#" class="app-bar-item">
                <span class="mif-cogs"></span>
            </a>
        </div>
    </div>
    <div class="frame_container" style="top:52px">
    	<!-- 메뉴 -->
        <div class="menu">
        	<ul class="h-menu bg-darkGrayBlue fg-white mega">
        		<th:block th:each="item1 : ${menuList}">
        		<li th:if="${item1.lvl == 1}">
			        <a href="#" class="dropdown-toggle" th:text="${item1.menuNm}">Products</a>
			        <div class="mega-container p-2" data-role="dropdown">
			            <div class="row">
			            	<th:block th:each="item2 : ${menuList}">
			            	<div class="cell-md-2" th:if="${item2.lvl == 2 && item1.menuCd == item2.parentMenuCd}">
			                    <h6 th:text="${item2.menuNm}">Begin with Metro 4</h6>
			                    <ul class="unstyled-list pl-0">
			                    	<th:block th:each="item3 : ${menuList}">
                    		 			<li th:if="${item3.lvl == 3 && item2.menuCd == item3.parentMenuCd}">
				                    		<th:block th:if="${item3.urlYn == 'Y'}">
                    		 				<a href="#" th:menuCd="${item3.menuCd}" th:menuNm="${item3.menuNm}" th:onclick="fn_clickMenu(this.getAttribute('menuCd'),this.getAttribute('menuNm'))" th:text="${item3.menuNm}">Getting started</a>
				                    		</th:block>
				                    		<th:block th:if="${item3.urlYn != 'Y'}">
                    		 				<a href="#" th:text="${item3.menuNm}">Getting started</a>
				                    		</th:block>
                    		 			</li>
			                    	</th:block>
			                    </ul>
			                </div>
			            	</th:block>
			            </div>
			        </div>
			    </li>
        		</th:block>
        	</ul>
        </div>

        <!-- tabs data-tabs-type : text, group, pills.-->
        <ul id="tabs" data-role="tabs" data-tabs-type="" data-expand="true" data-cls-tabs-list-item-active="bg-gray fg-white text-light"></ul>
        <div id="content-wrapper" class=""></div>
    </div>
</div>

<script src="/static/metro/js/metro.js?ver=@@b-version"></script>
<script>
    function fn_clickMenu(menucd, menunm) {
        var menu = $(`div[name=${menucd}]`);
        var menuKey = 0;
        if (menu.length == 0) menuKey = menu.length;
        else menuKey = Number(menu.last().attr("id").replace(`_${menucd}_`,""));

        menuKey++;
        var uniqMenuCd = menucd+'_'+menuKey;
        console.log(`${menucd} : ${menuKey}`);
        $('#tabs').append(`<li class="" style="border-right: 1px solid #dfdfdf;"><a href="#_${uniqMenuCd}" class="py-1 px-5"><span class="ml-0">${menunm}</span></a><span class="badge inside c-pointer" onclick="javascript:fn_removeMenu(this,'${uniqMenuCd}')">x</span></li>`);

        var frameHtml = `<div name="${menucd}" id="_${uniqMenuCd}" class="h-100">`;
        frameHtml += `<iframe name="_${uniqMenuCd}" id="_${uniqMenuCd}_frame" title="Inline Frame Example" width="100%" ></iframe>`; //src="../html/inner1.html"
        frameHtml += `</div>`;
        $('#content-wrapper').append(frameHtml);

        var srcUrl = '../html/inner1.html';
        switch(menucd) {
            case 'd' :
                srcUrl = '../html/inner2.html';
                break;
            case 'e' :
                srcUrl = '../html/inner3.html';
                break;
            case 'f' :
            	srcUrl = '/inner';
                break;
            default :
                srcUrl = '../html/inner1.html';
                break;
        }
        console.log(srcUrl);

        //$(`#_${uniqMenuCd}_frame`).attr('src', srcUrl);
        $(`#_${uniqMenuCd}_frame`).attr('src', `/page/${menucd}`);

        var tabs = Metro.getPlugin($("#tabs"), "tabs");
        var li = $("#tabs").find('li');
        tabs.open(li[li.length-1]);
    }

    function fn_removeMenu(obj,uniqMenuCd) {
        //tab 이동 후 삭제
        var tabs = Metro.getPlugin($("#tabs"), "tabs");

        //활성화된 탭을 닫으면 삭제전에 이동
        var li = $(obj).parent();
        if (li.hasClass('active')) {
            if (li.next().length > 0) tabs.next();
            else tabs.prev();
        }

        $('#_'+uniqMenuCd).remove(); //iframe 상위 div 삭제
        li.remove(); //tab 삭제
    }

</script>

</body>
</html>
