<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basepopup}">

<th:block layout:fragment="hidden">
</th:block>

<th:block layout:fragment="content">
	<div id="realgrid1" class="w-100 onegrid"></div>
	<div style="text-align:right; margin-top:6px;">
        <button class="button small cancel">Cancel</button>
        <button class="button primary small ok" style="min-width:57px;">Ok</button>
	</div>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
		const lv_parent = this.parent;
        let grid, provider;
        $(function() {
            fn_gridInit(); //그리드초기화
            fn_setGridData();
            fn_eventInit(); //이벤트초기화
        });

        //그리드초기화
        function fn_gridInit() {
            //dataType이 text가 아닌경우 tag속성에 지정
            const fields = [ {fieldName: "groupCd", type: "data"} ];
            const columns = [
                {name: "codeCd",     type: "data", width: "100", header: {text: "코드"      }, styleName: "tal-column" },
                {name: "codeNm",     type: "data", width: "150", header: {text: "코드명"     }, styleName: "tal-column" },
            ];
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: false }
			};
			
            const gridInstance = new GRID().init({gridId: "realgrid1", draw: true, columns: columns, fields: fields, options: options});
	        grid = gridInstance.gridview;
	        provider = gridInstance.provider;
        }
        
        function fn_setGridData() {
			
		}
        
        //이벤트초기화
        function fn_eventInit() {
			$(".cancel").on("click", function() {
				lv_parent.Metro.dialog.close('#c_popup');
			});
			
			$(".ok").on("click", function() {
				if (!fn_apply()) return;
				lv_parent.Metro.dialog.close('#c_popup');
			});
        }
        
        //닫힐때 호출
        function fn_apply() {
			console.log("iframe의 fn_apply calls");
			return true;
		}
        
    </script>
</th:block>
</html>