<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basepopup}">

<th:block layout:fragment="hidden">
</th:block>

<th:block layout:fragment="content">
	<div class="row flex-align-start flex-justify-around w-100" style="height:150px;">
    	<div id="dimGrid" class="cell-5 h-100"></div>
    	<div id="meaGrid" class="cell-5 h-100"></div>
    </div>
	<div class="row flex-justify-between w-100 mt-6" style="height:25px;">
    	<div class="cell" style="padding: 0 38px;">Preview</div>
    	<div class="cell" style="padding: 0 45px 0 38px; text-align:right;">
    		<button class="button mini" onclick="fn_moveDim('F')">←</button>
    		<button class="button mini" onclick="fn_moveDim('P')">◀</button>
    		<button class="button mini" onclick="fn_moveDim('N')">▶</button>
    		<button class="button mini" onclick="fn_moveDim('L')">→</button>
    	</div>
    </div>
	<div class="row w-100" style="height:190px;">
    	<div id="previewGrid" class="cell" style="padding-left:38px; max-width: 742px;"></div>
    	<div class="pt-2">
    		<button class="button mini" onclick="fn_moveMea('F')">↑</button><br>
    		<button class="button mini" onclick="fn_moveMea('P')">▲</button><br>
    		<button class="button mini" onclick="fn_moveMea('N')">▼</button><br>
    		<button class="button mini" onclick="fn_moveMea('L')">↓</button>
    	</div>
    </div>
</th:block>

<th:block layout:fragment="contentjs">
	<script>
		const lv_parent = this.parent;
        let dimGrid, dimProvider;
        let meaGrid, meaProvider;
        let previewInstance, previewGrid, previewProvider;
        let selDims = [], selMeas = [];
        $(function() {
            fn_gridInit(); //그리드초기화
            fn_setGridData();
            fn_gridDraw();
            //fn_eventInit(); //이벤트초기화
        });

        //그리드초기화
        function fn_gridInit() {
            const dimFields = [ {fieldName: "dimCd", type: "data"} ];
            const dimColumns = [
                {name: "dimNm",     type: "data", width: "150", header: {text: "Dimension"      }, styleName: "tal-column" }
            ];
            const options = {
				checkBar: { visible: true }
			  , stateBar: { visible: false }
			};
            const dimInstance = new GRID().init({gridId: "dimGrid", draw: true, columns: dimColumns, fields: dimFields, options: options});
	        dimGrid = dimInstance.gridview;
	        dimProvider = dimInstance.provider;

            const meaFields = [ {fieldName: "meaCd", type: "data"} ];
            const meaColumns = [
                {name: "meaNm",     type: "data", width: "150", header: {text: "Measure"      }, styleName: "tal-column" }
            ];
            const meaInstance = new GRID().init({gridId: "meaGrid", draw: true, columns: meaColumns, fields: meaFields, options: options});
	        meaGrid = meaInstance.gridview;
	        meaProvider = meaInstance.provider;

            const previewOptions = {
				checkBar: { visible: false }
			  , stateBar: { visible: false }
			};
            previewInstance = new GRID().init({gridId: "previewGrid", draw: false, columns: [], fields: [], options: previewOptions});
	        previewGrid = previewInstance.gridview;
	        previewProvider = previewInstance.provider;
	        
	        //체크박스 이벤트 등록
	        dimGrid.onItemChecked = function (grid, itemIndex, checked) {
				let dataRow = grid.getDataRow(itemIndex);
				const checkJsonRow = dimProvider.getJsonRow(dataRow);
				if (checked) {
					const addData = { dimCd: checkJsonRow.dimCd, dimNm: checkJsonRow.dimNm };
					
					//체크된항목 상위를 찾아서 바로 아래 추가한다.
					const checkedRows = grid.getCheckedRows();
					let fPIdx = checkedRows.findIndex(v => v === dataRow);
					if (fPIdx > 0) {
						fPIdx = checkedRows[fPIdx-1];
					}
					
					selDims.splice(selDims.findIndex(v => v.dimCd === dimProvider.getValue(fPIdx,"dimCd")) + 1, 0, addData);
				} else {
					selDims.splice(selDims.findIndex(v => v.dimCd === checkJsonRow.dimCd), 1);
				}
				fn_gridDraw();
			};
			
			dimGrid.onItemAllChecked = function (grid, checked) {
				selDims = [];
				if (checked) {
					const checkJsonRows = dimProvider.getJsonRows();
					selDims = checkJsonRows.map(v => {
						return { dimCd: v.dimCd, dimNm: v.dimNm };
					})
				}
				fn_gridDraw();
			};
			
			meaGrid.onItemChecked = function (grid, itemIndex, checked) {
				let dataRow = grid.getDataRow(itemIndex);
				const checkJsonRow = meaProvider.getJsonRow(dataRow);
				if (checked) {
					const addData = { meaCd: checkJsonRow.meaCd, meaNm: checkJsonRow.meaNm };
					
					//체크된항목 상위를 찾아서 바로 아래 추가한다.
					const checkedRows = grid.getCheckedRows();
					let fPIdx = checkedRows.findIndex(v => v === dataRow);
					if (fPIdx > 0) {
						fPIdx = checkedRows[fPIdx-1];
					}
					
					selMeas.splice(selMeas.findIndex(v => v.meaCd === meaProvider.getValue(fPIdx,"meaCd")) + 1, 0, addData);
				} else {
					selMeas.splice(selMeas.findIndex(v => v.meaCd === checkJsonRow.meaCd), 1);
				}
				fn_gridDraw();
			};
			
			meaGrid.onItemAllChecked = function (grid, checked) {
				selMeas = [];
				if (checked) {
					const checkJsonRows = meaProvider.getJsonRows();
					selMeas = checkJsonRows.map(v => {
						return { meaCd: v.meaCd, meaNm: v.meaNm };
					})
				}
				fn_gridDraw();
			};
			
			previewGrid.onCellClicked = function (grid, clickData) {
			    if (clickData.cellType === "header") {
					grid.setCurrent({ itemIndex: clickData.itemIndex , column: clickData.column });
				}
			}
        }
        
        function fn_setGridData() {
			// 1. 디멘전 데이터 초기화 및 그리드 데이터 생성
		    fn_selDimData();
			
			// 2. 메저 데이터 초기화 및 그리드 데이터 생성
			fn_selMeaData();
		}
		
		// 1. 디멘전 데이터 초기화 및 그리드 데이터 생성
		function fn_selDimData() {
			dimProvider.clearRows();
		    dimGrid.cancel();
		    
			const dAllData = lv_parent.com_viewinfo.arrAllDim?.map(v => v) ?? [];
			const dSelData = lv_parent.com_viewinfo.arrDim?.map(v => v) ?? [];
			
			//전역변수로 저장
			selDims = [...dSelData];
		    
		    dimProvider.setRows(dAllData);
		    //이미 선택된 디멘전 체크
		    let arrIdx = [];
			dSelData.forEach(v => {
				arrIdx.push(dimGrid.getJsonRows().findIndex((element) => element.dimCd === v.dimCd));
			})
			dimGrid.checkRows(arrIdx, true);
		}
		
		// 2. 메저 데이터 초기화 및 그리드 데이터 생성
		function fn_selMeaData() {
			meaProvider.clearRows();
		    meaGrid.cancel();
		    
			const dAllData = lv_parent.com_viewinfo.arrAllMea?.map(v => v) ?? [];
			const dSelData = lv_parent.com_viewinfo.arrMea?.map(v => v) ?? [];
			
			//전역변수로 저장
			selMeas = [...dSelData];
		    
		    meaProvider.setRows(dAllData);
		    //이미 선택된 디멘전 체크
		    let arrIdx = [];
			dSelData.forEach(v => {
				arrIdx.push(meaGrid.getJsonRows().findIndex((element) => element.meaCd === v.meaCd));
			})
			meaGrid.checkRows(arrIdx, true);
		}
		
		function fn_gridDraw() {
			//디멘전에 체크된 데이터로 컬럼목록생성
			const dimJsonData = selDims.map(v => {
				return {name: v.dimCd, type: "data", width: "100", header: {text: v.dimNm}}
			});
			
			previewInstance.defConfig.columns = [...dimJsonData];
			
			//메저
			if (selMeas.length > 0) {
				previewInstance.defConfig.columns.push(
					{name: "measureNm", type: "data", width: "100", header: {text: "Category"}}
				);
			}
			
			previewInstance.setDraw();
			previewProvider.clearRows();
            previewGrid.cancel();
            
            if (selMeas.length > 0) {
            	previewProvider.setRows(selMeas.map(v => { return {measureNm : v.meaNm }}));
			} else {
            	previewProvider.setRows([{measureNm : "" }]);
			}
			
			//focus
			//previewGrid.setCurrent({ itemIndex: 0 , column: dimJsonData[0].dimCd });
		}
		
		function fn_getCheckedMeaJsonData() {
			const oldData = previewProvider.getJsonRows();
			if (oldData.length === 0) {
				return meaGrid.getCheckedRows().map(v => meaProvider.getJsonRow(v));
			}
			return oldData;
		}
		
        //이벤트초기화
        function fn_eventInit() {
        }
        
        //닫힐때 호출
        function fn_apply() {
			console.log("Config iframe의 fn_apply calls");
			
			//선택된 데이터 부모창에 셋
			lv_parent.com_viewinfo.arrDim = selDims.map(v => v);
			lv_parent.com_viewinfo.arrMea = selMeas.map(v => v);
		}
		
		function fn_moveDim(mType) {
			const current = previewGrid.getCurrent();
			if (current.fieldIndex === -1) return;
			
			const fieldIdx = current.fieldIndex-1;
			let mIdx = gfn_util_decode(mType, "F", fieldIdx === 0 ? -1 : 0, "P", fieldIdx-1, "N", fieldIdx+1, "L", fieldIdx === selDims.length-1 ? -1 : selDims.length-1);
			
			if (mIdx < 0 || mIdx > selDims.length-1) return;
			
			const moveColumn = selDims.splice(fieldIdx, 1); //삭제
			selDims.splice(mIdx, 0, moveColumn[0]); //위치이동 추가
			
			fn_gridDraw();
			
			previewGrid.setCurrent({fieldIndex: mIdx+1});
		}
		
		function fn_moveMea(mType) {
			const current = previewGrid.getCurrent();
			if (current.fieldIndex === -1) return;
			
			const mIdx = gfn_util_decode(mType, "F", 0, "P", current.dataRow-1, "N", current.dataRow+1, "L", previewProvider.getRowCount()-1);
			if (mIdx < 0 || mIdx > previewProvider.getRowCount()-1) return;
			
			previewProvider.moveRow(current.dataRow, mIdx);
			previewGrid.setCurrent({dataRow: mIdx});
			
			//selMeas 에 반영
			const moveData = selMeas.splice(current.dataRow, 1); //삭제
			selMeas.splice(mIdx, 0, moveData[0]); //위치이동 추가
		}
        
    </script>
</th:block>
</html>